# Node.js
node_modules/
npm-debug.log
yarn-error.log

# MongoDB
db/
*.bak
*.log

# Archivos de configuración de entorno
.env

# Dependencias de build
dist/
build/

# Archivos de logs
logs/
*.log

# Directorios de test
coverage/

# Archivos de IDEs y editores
.vscode/
.idea/

# Archivos de sistemas operativos
.DS_Store
Thumbs.db
